body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 100vw;
}

.gameContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.selectionButtons {
    display: flex;
    gap: 20px;
}

.selection {
    cursor: pointer;
    padding: 20px;
    border: 3px #8fbc8f solid;
    background-color: palegreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.250s;
}

.selection:hover {
    background-color: #8fbc8f;
}

.selection:nth-child(1) {
    transform: scaleX(-1) rotate(-90deg);
}

.selection:nth-child(3) {
    transform: rotate(-90deg);
}

.selection img {
    width: 50px;
}

.scores {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.restartBtn {
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
    border: 3px #8fbc8f solid;
    background-color: palegreen;
    border-radius: 8px;
    transition: 0.250s;
}

.restartBtn:hover {
    background-color: #8fbc8f;
}